<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learning Management System</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    

    <div class="">
        @RenderBody()
        <hr />
    </div>
   

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
